install:
 - source ./texlive_install.sh
cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive
before_script:
- mkdir _build
- cd proposal
script:
- pdflatex -interaction=nonstopmode -halt-on-error -output-directory _build ./proposal/proposal.tex
# Compile twice to fix possible references
- pdflatex -interaction=nonstopmode -halt-on-error -output-directory _build ./proposal/proposal.tex
deploy:
  provider: releases
  api_key:
    secure: $GITHUB_KEY
  file:
  - ./_build/proposal.pdf
  skip_cleanup: true
  on:
    tags: true
    branch: master
