install:
 - source ./texlive_install.sh
cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive
before_script:
- mkdir _build
- mkdir _build/chapters
script:
- cd proposal
- pdflatex -interaction=nonstopmode -halt-on-error -output-directory ../_build proposal.tex

- cd ../thesis
- pdflatex -interaction=nonstopmode -halt-on-error -output-directory ../_build thesis.tex
  # compile twice to fix poosible reference issues
- pdflatex -interaction=nonstopmode -halt-on-error -output-directory ../_build thesis.tex
after_script:
- cd ..
deploy:
  provider: releases
  api_key:
    secure: $GITHUB_KEY
  file:
  - ./_build/proposal.pdf
  - ./_build/thesis.pdf
  skip_cleanup: true
  on:
    tags: true
    branch: master
